idnit

I was planing to submit, but idnit had following warnings, so I might submit after WG.

1)I know R. hurst is OK with this draft, so do A. Deacon?

2)should we update RFC 3548 to RFC 4648?

---------------------------------------------------------
Miscellaneous warnings:
  ----------------------------------------------------------------------------

     (Using the creation date from RFC5019, updated by this document, for
     RFC5378 checks: 2004-10-01)

  -- The document seems to lack a disclaimer for pre-RFC5378 work, but may
     have content which was first submitted before 10 November 2008.  If you
     have contacted all the original authors and they are all willing to grant
     the BCP78 rights to the IETF Trust, then this is fine, and you can ignore
     this comment.  If not, you may need to add the pre-RFC5378 disclaimer. 
     (See the Legal Provisions document at
     https://trustee.ietf.org/license-info for more information.)


  Checking references for intended status: Proposed Standard
  ----------------------------------------------------------------------------

     (See RFCs 3967 and 4897 for information about using normative references
     to lower-maturity documents in RFCs)

  -- Possible downref: Normative reference to a draft: ref.
     'I-D.ietf-tls-rfc8446bis' 

  ** Obsolete normative reference: RFC 3548 (Obsoleted by RFC 4648)